<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.module.system.mapper.OnlineUserMapper">

    <resultMap id="BaseResultMap" type="com.admin.module.system.entity.OnlineUser">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="username" column="username" />
            <result property="loginTime" column="login_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,username,login_time
    </sql>
</mapper>
