<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.module.system.mapper.ScheduledJobMapper">

    <resultMap id="BaseResultMap" type="com.admin.module.system.entity.ScheduledJob">
            <id property="jobId" column="job_id" jdbcType="BIGINT"/>
            <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
            <result property="jobClass" column="job_class" jdbcType="VARCHAR"/>
            <result property="params" column="params" jdbcType="VARCHAR"/>
            <result property="cronExpression" column="cron_expression" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="lastExecutedTime" column="last_executed_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        job_id,job_name,bean_name,
        method_name,cron_expression,status,
        remark,create_user,update_user,
        create_time,update_time,deleted
    </sql>
</mapper>
